<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Disable directory browsing
Options -Indexes

# Prevent access to sensitive files
<FilesMatch "(^\..*|composer\.(json|lock))$">
    Order allow,deny
    Deny from all
</FilesMatch>

